body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #121212;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn, .stop {
  padding: 10px 20px;
  font-size: 18px;
  background: #2196f3;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover, .stop:hover {
  background: #0d8bf2;
}
